<!DOCTYPE html>
<html>
<head>
  <title>TripRecon</title>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash', flash: flash %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="green">Recon</h1>
		</div>
	</div>
</div>
<%= yield %>

</body>
</html>
